<html>
    <body>

       <h3>Assignment from Niteo Partners</h3>
        <form class="example-form" method="POST" action="/nodeapi/search_for_keyword">
            <label>Enter Keyword : </label>
            <input type="text" name="keyword" placeholder="Keyword"><br><br>
            <input type="submit">
        </form>

    </body>
</html>