<html>
    <body>
        <h1>You Searched for the keyword =>  {{keyword}}  </h1>
        
        <h3>It occured => {{occured_times}} times on the page in the following contents : </h3>
         
        <hr>

        <p>{{found_places}}</p>

        <hr>
    </body>
</html>